<div class="row">
  <div class="col text-right">
    {% if current_user.is_authenticated %}
      <h5>
        <span class="mr-3">
          {% if current_user.super %}<a href="/admin">{% endif %}
          {{current_user.username}}
          {% if current_user.super %}</a>{% endif %}
        </span>
        <a href="/logout" class="text-secondary">Logg ut</a>
      </h5>
    {% else %}
      <h5><a href="/login" class="text-secondary">Logg inn</a></h5>
      <h5><a href="/register" class="text-secondary">Registrer</a></h5>
    {% endif %}
  </div>
</div>
